# =========================
# Python
# =========================
.venv/
venv/
env/
__pycache__/
*.py[cod]

# =========================
# Environment / Secrets
# =========================
.env
.env.*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log

# =========================
# Large ML files
# =========================
*.pth
*.pt
*.ckpt
*.onnx

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
*.env
credentials.json
*.pem
*.key
.credentials
